<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="ChineseNow"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <receiver android:name=".ChineseNow"
            android:label="Chinese Now Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>

</manifest>
